#aboutus {
  width: 100%;
}
.aboutus {
  position: relative;
  width: 100%;
  background: url("../assets/images/aboutus.png");
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 0.23074391;
}

.aboutus-navbar {
  position: absolute;
}

.aboutus-logo {
  scale: 0.7;
}
.aboutus-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Red Hat Display;
  font-weight: 500;
  font-size: 1vw;
  width: 100%;
  height: 5vw;
  padding: 0vw 2vw;
}
.aboutus-profile {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.aboutus-profile img {
width: 2vw;
}
.aboutus-profile button{
  font-weight: 500;
  font-size: 1vw;
}
.aboutus-Nav-item ul {
  display: flex;
  gap: 1vw;
}
.aboutus-Nav-item ul li {
  background: rgba(240, 240, 240, 0.5);
  opacity: 0.6;
  border-radius: 30px;
  padding: 0.5vw 0.7vw;
}
