#aboutus {
  width: 100%;
  position: relative;
  width: 100%;
  background: url("../assets/images/aboutus.png");
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 0.23074391;
}
.aboutus-navbar {
  position: absolute;
  width: 100%;
  height: 5vw;
  padding: 0vw 2vw;
}

