.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: lightblue;
}
.card {
  transition: all 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30rem;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}
.card-overlay {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(to top, rgb(78, 128, 78), rgb(32, 87, 32));
}
.card-title {
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
  width: fit-content;
  text-align: center;
  transform: rotateZ(-90deg) translateX(50%);
  white-space: nowrap;
}
.card-description {
  transition: all 0.3s ease-in-out;
  color: black;
  z-index: 10;
  font-size: 1.5rem;
  font-weight: 700;
  bottom: 1rem;
  right: 2px;
  padding: 1rem 0.5rem;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 8px 0 0 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
}
.card-college {
  color: black;
  font-size: 1rem;
  font-weight: 600;
  width: fit-content;
  text-align: center;
}
.card.active {
  width: 25rem;
}
.card{
    width: 10rem;
}
@media (max-width: 1290px) {
  .card {
    width: 8rem;
  }

  .card.active {
    width: 25rem;
  }
  
}
@media(max-width:1150px){
    .card{
        height: 28rem;
    }
    .card.active{
        width: 22rem;
    }
}
@media(max-width:1040px){
    .card{
        height: 24rem;
    }
    .card.active{
        width: 20rem;
    }
}
@media(max-width:940px){
    .card{
        height: 24rem;
        width: 6rem;
    }
    .card.active{
        width: 20rem;
    }
}
@media(max-width:860px){
    .card{
        height: 20rem;
        width: 6rem;
    }
    .card.active{
        width: 18rem;
    }
    .card-description{
    padding: 0rem .5rem;
  }
}

@media (max-width: 768px) {
  .card {
    width: 5rem;
  }

  .card.active {
    width: 15rem;
  }
  .card-title {
    font-size: 1rem;
  }
}
@media (max-width: 665px) {
  .card {
    height: 18rem;
  }

  .card.active {
    width: 15rem;
  }
  
}

@media (max-width: 576px) {
  .card {
    width: 10rem;
  }

  .card.active {
    width: 10rem;
  }
  
}