.Features {
  width: 100%;
  font-family: poppins;
  padding: 0vw 2vw;
  height: 40vw;
}
.Features h2 {
  text-align: center;
  font-size: 5vw;
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
  padding-bottom: 5vw;
}
.swiper {
  width: 100%;
  
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vw 0vw;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}
.features {
  width: 100%;
  background: rgba(241, 251, 234, 1);
  height: 25vw;
  border-radius: 30px;
  padding: 2vw;
  display: block;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  margin-left: 3vw;
}
.Features img {
  height: 5vw;
  width: 5vw;
  scale: 0.9;
  background-color: #fee554fc;
  padding: 1vw;
  border-radius: 25px;
}
.features h3 {
  font-size: 2vw;
  font-weight: 500;
  padding: 1vw 0vw;
}
.features p {
  font-size: 1vw;
  font-weight: 500;
}
@media (max-width: 1050px) {
  .features h3 {
    font-size: 2.5vw;
  }
  .features p {
    font-size: 1.3vw;
  }
  .features {
    height: 28vw;
  }
  .Features {
    height: 48vw;
  }
}
@media (max-width: 720px) {
  .Features h2 {
    font-size: 6vw;
  }
  .features {
    height: 32vw;
    width: 35vw;
  }
  .features p {
    font-size: 1.5vw;
  }
}
@media(max-width:580px){
  .Features h2 {
    font-size: 6vw;
  }
  .features p {
    font-size:2vw;
  }
   .features {
    height: 42vw;
    width: 38vw;
  }
  .Features {
    height: 60vw;
  }
  .features h3 {
    font-size: 2.8vw;
  }
}
@media(max-width:440px){
   .features {
    height: 45vw;
    width: 38vw;
  }
  .Features {
    height: 65vw;
  }
}