.IITs-logo{
    width: 100%;
    height: 20vw;
    padding-top: 5vw;
}
.IITs-logo h2{
    color: rgba(70, 70, 70, 1);
text-align: center;
font-size: 4vw;
font-weight: 400;
font-family:poppins;
}
.iits-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
    margin-top: 4vw;
}
.iits-logo img{
    width: 11vw;
}