#Map{
   width: 100%;
   display: flex;
   justify-content: center;
  
}
#Map img{
    width: 70%;
}
@media(max-width:1170px){
    #Map img{
    width: 80%;
}
}
@media(max-width:769px){
    #Map img{
    width: 100%;
}
}