.Mentorship-Header {
  display: flex;
  width: 100%;
  font-family: poppins;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0vw 2vw;
  gap: 5rem;
}
.Mentorship-header-left img {
  object-fit: cover;
}
.Mentorship-header-right {
  padding-top: 5vw;
  box-sizing: border-box;
}
.Mentorship-header-text h1 {
  font-size: 4.2vw;
  font-weight: 700;
}
.Mentorship-header-text h3 {
  font-size: 4.2vw;
  font-weight: 500;
}
.Mentorship-header-text p {
  font-size: 1vw;
  font-weight: 400;
}
.Mentorship-header-price {
  display: flex;
  justify-content: space-between;
  font-family: Red Hat Display;
  margin: 2vw 0vw;
}
.mentorship-header-price {
  display: flex;
  gap: 1vw;
}
.mentorship-header-price h3 {
  font-weight: 700;
  font-size: 2.8vw;
}
.mentorship-header-price h4 {
  font-weight: 400;
  text-decoration: line-through;
  text-decoration-color: black;
  color: rgba(172, 0, 0, 1);
}
.mentorship-header-price h2 {
  font-weight: 700;
  font-size: 2.5vw;
  font-style: italic;
}
.Mentorship-header-price img {
  width: 18vw;
}
.Mentorship-header-btn {
  display: flex;
  align-items: center;
  gap: 3vw;
}
.Mentorship-header-btn img {
  width: 18vw;
}
.Mentorship-header-btn a {
  font-weight: 700;
  font-size: 1.3vw;
  text-decoration: underline;
  font-style: italic;
  color: #0C6205;
}
@media (max-width: 1290px) {
  .Mentorship-header-price img {
    width: 18vw;
  }
  .Mentorship-header-price h2 {
    font-size: 1.8vw;
  }
}
@media (max-width: 1258px) {
  .Mentorship-header-price h2 {
    font-size: 1.6vw;
  }
}
@media (max-width: 1220px) {
  .Mentorship-header-price {
    flex-direction: column;
    margin: 2vw 0vw;
    gap: 1vw;
  }
  .Mentorship-header-price img {
    width: 20vw;
  }
  .Mentorship-header-price h2 {
    font-size: 2vw;
  }
  .Mentorship-header-btn img {
    width: 20vw;
  }
  .Mentorship-header-btn a {
    font-size: 2vw;
  }
}
@media (max-width: 1160px) {
  .Mentorship-header-text h1 {
    font-size: 4vw;
  }
  .Mentorship-header-text h3 {
    font-size: 4vw;
  }
}
@media (max-width: 1070px) {
  .Mentorship-header-right {
    padding-top: 15px;
  }
  .Mentorship-header-text h1 {
    font-size: 5.5vw;
  }
  .Mentorship-header-text h3 {
    font-size: 4vw;
  }
  .Mentorship-header-text {
    display: flex;
    flex-direction: column;
    gap: 2vw;
  }
  .Mentorship-header-text p {
    font-size: 1.2vw;
  }
  .Mentorship-Header {
    gap: 3vw;
  }
}
@media (max-width: 769px) {
  .Mentorship-Header {
    display: flex;
    flex-direction: column;
    gap: 5vw;
  }
  .Mentorship-header-text h1 {
    font-size: 8vw;
  }
  .Mentorship-header-text h3 {
    font-size: 6vw;
  }
  .Mentorship-header-text p {
    font-size: 15px;
  }
  .Mentorship-header-price {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
  .mentorship-header-price h3 {
    font-size: 3.5vw;
  }
  .mentorship-header-price h2 {
    font-size: 3vw;
  }
  .Mentorship-header-price img {
    width: 25vw;
  }
  .Mentorship-header-btn img {
    width: 30vw;
  }
  .Mentorship-header-btn a {
    font-size: 2.5vw;
  }
}
@media (max-width: 580px) {
  .Mentorship-header-price img {
    width: 180px;
  }
  .Mentorship-header-btn img {
    width: 200px;
  }
  .Mentorship-header-btn a {
    font-size: 20px;
  }
  .mentorship-header-price h3 {
    font-size: 4vw;
  }
  .mentorship-header-price h2 {
    font-size: 3.5vw;
  }
}
@media (max-width: 450px) {
  .Mentorship-header-price {
    flex-direction: column;
  }
  .mentorship-header-price h3 {
    font-size: 6vw;
  }
  .mentorship-header-price h2 {
    font-size: 5vw;
  }
  .Mentorship-header-btn a {
    font-size: 5vw;
  }
}
