* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.logo {
  scale: 0.7;
}
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Red Hat Display;
  font-weight: 500;
  font-size: 1vw;
  width: 100%;
  height: 5vw;
  padding: 0vw 2vw;
}
.profile {
  display: flex;
  align-items: center;
}
.profile img {
  scale: 0.7;
}
.Nav-item ul {
  display: flex;
  gap: 1vw;
}
.Nav-item ul li {
  background-color: white;
  opacity: 0.6;
  border-radius: 30px;
  padding: 0.5vw 0.7vw;
  background: rgba(240, 240, 240, 0.5);
}
/* .Nav-item ul li .active{
    font-weight: 900;

} */
