#Passionate {
  width: 100%;
  font-family: poppins;
  padding: 4vw 2vw;
}
.passionate-heading h1 {
  font-size: 4.5vw;
  font-weight: 700;
}
.passionate-heading span {
  color: #0c6205;
}
.passionate-heading h2 {
  font-size: 4.5vw;
  font-weight: 500;
}
.passionate-pera {
  display: flex;
  width: 30%;
  padding: 4vw 0vw;
  gap: 1vw;
  align-items: center;
}
.passionate-line {
  width: 0.1vw;
  height: 90px;
  background-color: rgba(0, 0, 0, 1);
}
.mentorship-footer {
  display: flex;
  justify-content: space-between;
}
.mentorship-footer h1 {
  font-size: 7vw;
}
.mentorship-footerimg {
  width: 55%;
  height: 40vw;
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: flex-end;
}
.mentor-container {
  position: relative;
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.mentor-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mentor-overlay {
  position: absolute;
  bottom: 0;
  left: 100;
  background: #f0f0f080;
  color: black;
  text-align: center;
  padding: 15px;
  border-radius: 10px 0px 0px 10px;
  width: 60%;
}
.mentor-overlay h2 {
  font-weight: 600;
  font-size: 2vw;
}
.mentor-overlay h3 {
  font-weight: 500;
  font-size: 1.5vw;
}
.go {
  width: 60%;
  height: 20%;
  position: absolute;
  bottom: 0;
  right: 50%;
  z-index: 2;
}
@media (max-width: 1200px) {
  .mentorship-footerimg {
    height: 50vw;
  }
  .go {
    left: -10vw;
    width: 70%;
    height: 20%;
  }
  .passionate-pera {
    width: 50%;
  }
  .passionate-heading h1,
  .passionate-heading h2 {
    font-size: 5vw;
  }
  .mentor-overlay h2 {
    font-weight: 600;
    font-size: 2vw;
  }
}

@media (max-width: 1000px) {
  .passionate-heading h1,
  .passionate-heading h2 {
    font-size: 6vw;
  }
  .mentorship-footer h1 {
    font-size: 8vw;
  }
}
@media (max-width: 769px) {
  .mentor-overlay {
    bottom: 2.5%;
  }
}
@media (max-width: 760px) {
  .passionate-heading h1,
  .passionate-heading h2 {
    font-size: 7vw;
  }
  .passionate-pera {
    width: 60%;
    gap: 3vw;
  }
  .go {
    left: -15vw;
  }
}
@media (max-width: 630px) {
  .mentor-overlay h2 {
    font-size: 1.8vw;
  }
  .mentor-overlay {
    padding: 10px;
    bottom: 3.4%;
  }
}
@media (max-width: 550px) {
  .passionate-pera {
    width: 80%;
  }
  .mentor-overlay {
    bottom: 4%;
  }
}
@media (max-width: 490px) {
  .passionate-pera p {
    font-size: 2.5vw;
  }
  .passionate-line {
    height: 60px;
  }
}
@media (max-width: 450px) {
  .mentor-overlay {
    bottom: 4.5%;
  }
}
@media (max-width: 380px) {
  .passionate-pera p {
    font-size: 2.7vw;
  }
  .passionate-line {
    height: 60px;
  }
  .passionate-pera {
    gap: 4vw;
  }
   .mentor-overlay {
    bottom: 5%;
  }
}
