#DPPs{
    width: 100%;
}

.Dpp h1{
    font-size: 2vw;  
    font-family: Poppins;
    font-weight: 600;
    margin-bottom: 1%;
}
.searchInput_container{
    position: relative;
    display: flex;
}
.searchInput_container i{
    position: absolute;
    left: 2vw;
    scale: 1.5;
    top: 1vw;
}
#searchInput{
    width: 30%;
    height: 2.5vw;
    border: 2px solid black;
    outline: none;
    border-radius: 30px;
   padding: 0vw 4vw;
}
.Dpp_Container{
    display: flex;
     flex-wrap: wrap;
  justify-content: space-evenly;
}

.DppData-container {
  font-family: Poppins;
 
}
.DppData {
  background: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  gap: 1vw;
  box-shadow: 12.6px 12.6px 25.21px 0px rgba(115, 122, 127, 0.45);
  width: 400px;
  padding: 0.5rem 1rem;
  margin:1.5rem  1rem;
  border-radius: 15px;
}

.DppData img {
  width: 60px;
  object-fit: cover;
  object-position: center;
}
.DppData-text h6 {
  color: rgba(115, 122, 127, 1);
  font-weight: 600;
  font-size: 0.8rem;
margin-bottom:.3rem ;

}
.DppData-text h3 {
  font-size: .9rem;
  font-weight: 500;
  color: black;
}