#level-select {
  width: 100%;
}
.level-select {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  margin: 1rem 4rem;
  padding: 4vw 0vw;
  border-top: 1px solid black;
}
.level-heading h1 {
  font-size: 2.5rem;
  color: #0c6205;
  margin: 4rem 0rem 0rem 4rem;
  font-family: Poppins;
  font-weight: 600;
}
.level-container {
  border: 1px solid #000000;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0px 4px 25px 0px #00000040;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.level {
  padding: 10px 30px;
  display: flex;
  gap: 1rem;
}
.level h3 {
  font-size: 1.3vw;
  color: black;
  font-weight: 500;
}
.level-Line {
  width: 0.6vw;
  background: #0c6205;
  height: 2vw;
}
.level-button {
  border-top: 1px solid #000000;
  width: 100%;
  padding: 0.5vw 2vw;
  text-align: end;
  font-size: 1.3vw;
  color: black;
  font-weight: 500;
}
