#Mocktest-instructions {
  width: 100%;
  font-family: Poppins;
}
.Mocktest-instructions {
  padding: 2rem 0rem;
}
.instruction-heading {
  display: flex;
  justify-content: space-around;
  background: #d9d9d980;
  padding: 1rem 0rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.instruction-bottom {
  padding: 2rem;
}
.instruction-bottom h3 {
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
}
.instruction-bottom h2 {
  text-decoration: underline;
  font-size: 1rem;
  font-weight: 600;
}
.instruction-bottom p {
  padding: 1rem 0rem 2rem 3rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.8rem;
}
.inner-points {
  margin-left: 8rem;
}
.inner-points p {
  margin-bottom: 2rem;
  padding: 0rem;
}
.general-instruction img {
  padding-left: 3rem;
}
.mocktest-check-box {
  display: flex;
  position: relative;
  padding: 1rem 0;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.mocktest-check-box input[type="checkbox"] {
  position: absolute;
  top: 2.5rem;
  width: 1.5rem;
  height: 1.5rem;
  opacity: 1;
  pointer-events: fill;
}

.mocktest-check-box input[type="checkbox"]:checked {
  background-color: #0c6205;
  border: none;
}

.mocktest-check-box input[type="checkbox"]:checked::after {
  content: "\2713";
  display: block;
  text-align: center;
  color: white;
  font-size: 1.2rem;
}

.mocktest-btn {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 2rem;
}
.mocktest-btn button {
  background: #0c6205;
  padding: 0.3rem 2.5rem;
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid #000000;
}
