#DPPs{
    width: 100%;
    font-family: Poppins;
}
.searchbar h1{
    font-size: 2vw;  
    font-weight: 600;
    margin-bottom: 1%;
}
.SearchBar{
    padding: 2vw 0vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.search-btns a.active{
color: #0C6205;
}
.search-btns button{
width: 9rem;
margin: 0vw .5vw;
}
.search-btn{
background-color: white;
font-size: 1.3rem;
font-weight: 600;
border-radius: 20px;
border: 2px solid #000000
}
.search-btn:hover{
    background-color: lightgreen;
}
.searchbar{
    width: 40%;
}
.searchInput_container{
    position: relative;
    display: flex;
}
.searchInput_container i{
    position: absolute;
    left: 2vw;
    scale: 1.5;
    top: 1vw;
}
#searchInput{
    width: 70%;
    height: 2.5vw;
    border: 2px solid black;
    outline: none;
    border-radius: 30px;
   padding: 0vw 4vw;
}
.Dpp_Container{
    display: flex;
     flex-wrap: wrap;
  justify-content: space-evenly;
}

.DppData-container {
  font-family: Poppins;
}
.DppData {
  background: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  gap: 1vw;
  box-shadow: 12.6px 12.6px 25.21px 0px rgba(115, 122, 127, 0.45);
  width: 400px;
  padding: 0.5rem 1rem;
  margin:1.5rem  1rem;
  border-radius: 15px;
}

.DppData img {
  width: 60px;
  object-fit: cover;
  object-position: center;
}
.DppData-text h6 {
  color: rgba(115, 122, 127, 1);
  font-weight: 600;
  font-size: 0.8rem;
margin-bottom:.3rem ;

}
.DppData-text h3 {
  font-size: .9rem;
  font-weight: 500;
  color: black;
}