#Modules {
  width: 100%;
  font-family: Poppins;
}

#Modules h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 2% 0vw 0vw 11%;
}
.SearchBar {
  padding: 1rem 0rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.search-btns a.active {
  color: #0c6205;
}
.search-btns button {
  width: 9rem;
  height: 2.8rem;
  margin: 0rem 0.5rem;
}
.search-btn {
  background-color: white;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 20px;
  border: 2px solid #000000;
}
.search-btn:hover {
  background-color: lightgreen;
}
.searchbar {
  width: 40%;
}
.searchInput_container {
  position: relative;
  display: flex;
}
.searchInput_container i {
  position: absolute;
  left: 1.5rem;
  top: 1rem;
}
#searchInput {
  width: 100%;
  height: 40px;
  border: 2px solid black;
  outline: none;
  border-radius: 30px;
  padding: 0vw 4rem;
}
.Modules_Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.ModulesData {
  background: rgba(255, 255, 255, 1);
  box-shadow: 12.6px 12.6px 25.21px 0px rgba(115, 122, 127, 0.45);
  width: 400px;
  padding: 0.5rem 1rem;
  margin: 1.5rem 1rem;
  border-radius: 15px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.ModulesData img {
  width: 60px;
  height: 60px;
}
.ModulesData-text h3 {
  font-size: 1rem;
  font-weight: 500;
  color: black;
}
.coming-soon-message{
font-size: 1rem;
color: #0c6205;
text-align: center;
}
@media (max-width: 1290px){
  #Modules h1 {
    padding: 2% 0vw 0vw 9%;
  }
}
@media (max-width: 1175px){
  #Modules h1 {
    padding: 2% 0vw 0vw 8%;
  }
}
@media (max-width: 1075px){
  #Modules h1 {
    padding: 2% 0vw 0vw 6%;
  }
}
@media (max-width: 873px){
  .SearchBar {
    padding: 1rem 0rem;
    display: block;
    justify-content: space-evenly;
    align-items: center;
  }
  #Modules h1 {
    padding: 2% 0% 0% 0%;
    font-size: 2.5rem;
  }
  .ModulesData {
    width: 300px;
  }
  #Modules {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .searchbar {
    width: 100%;
  }
}
@media (max-width: 675px){
  #Modules {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .SearchBar {
    display: block;
  }
  .searchbar {
    width: 100%;
  }
  #Modules h1 {
    padding: 2% 0% 0% 0%;
    font-size: 2.5rem;
  }
}
@media (max-width: 470px){
  #Modules {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #Modules h1 {
    padding: 2% 0% 0% 0%;
    font-size: 2.5rem;
  }
  .SearchBar {
    display: block;
  }
  .searchbar {
    width: 80vw;
  }
  .ModulesData {
    width: 25rem;
  }
  .search-btns button {
    width: 24vw;
    height: 2.8rem;
    margin: 0rem 0.5rem;
  }
  .search-btn {
    font-size: 1rem;
  }
}
@media (max-width: 420px){
  #Modules {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #Modules h1 {
    padding: 2% 0% 0% 0%;
    font-size: 2rem;
  }
  .SearchBar {
    display: block;
  }
  .searchbar {
    width: 75vw;
  }
  .ModulesData {
    width: 22rem;
  }
  .search-btns button {
    width: 22vw;
    height: 2.8rem;
    margin: 0rem 0.5rem;
  }
  .search-btn {
    font-size: 0.9rem;
  }
}
@media (max-width: 370px) {
  #Modules {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #Modules h1 {
    padding: 2% 0% 0% 0%;
    font-size: 2rem;
  }
  .SearchBar {
    display: block;
  }
  .searchbar {
    width: 75vw;
  }
  .ModulesData {
    width: 22rem;
  }
  .search-btns button {
    width: 22vw;
    height: 2.8rem;
    margin: 0rem 0.5rem;
  }
  .search-btn {
    font-size: 0.8rem;
  }
  .ModulesData {
    width: 20rem;
  }
  #searchInput {
    height: 30px;
    padding: 0vw 4rem;
  }
  .searchInput_container i {
  position: absolute;
  left: 1.5rem;
  top: .8rem;
}
.search-btns button {
  width: 21vw;
  height: 2.4rem;
  margin: 0rem 0.5rem;
}
}
