#question-page {
  margin: 4rem 0 0 6rem;
  font-family: Poppins, sans-serif;
}
#question-page h1 {
  font-size: 2.5rem;
  color: #0c6205;
  font-weight: 600;
  padding-bottom: 10px;
}

.question-page {
  width: 80%;
  border-top: 1px solid #000;
  padding-top: 20px;
}

.question-image-container {
  margin-bottom: 20px;
  text-align: center;
}

.question-image {
  max-width: 100%;
  height: auto;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
}

.option-label {
  width: 100%;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: start;
  cursor: pointer;
  transition: background-color 0.3s;
}

.option-label.selected {
  background-color: lightblue;
}

.option-label.correct {
  background-color: lightgreen;
  border-color: #18b63d;
  color: #155724;
}

.option-label.incorrect {
  background-color: lightcoral;
  border-color: red;
  color: #721c24;
}

.option-label.locked {
  cursor: default;
}
.option-label.selected:hover{
  background-color: lightblue;
}
.option-label:hover {
  background-color: #e0e0e0;
}

.controls {
  display: flex;
  justify-content: space-between;
}
.check-button {
  display: block;
  margin-top: 20px;
  border: 1px solid #0c6205;
  padding: 5px 20px;
  color: black;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}
.next-button,
.prev-button {
  margin-top: 20px;
  background: #0c6205;
  padding: 5px 20px;
  color: white;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}
.next-check {
  display: flex;
  gap: 50px;
}
.prev-button:disabled,
.next-button:disabled,
.check-button:disabled {
  cursor: not-allowed;
}

.prev-button:hover:enabled,
.next-button:hover:enabled {
  background: #084a03;
}

.explanation {
  margin-top: 20px;
  padding: 10px;
}

.explanation h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #0c6205;
}

.explanation-image-container {
  text-align: center;
}

.explanation-image {
  max-width: 100%;
  height: auto;
}
