#LogIn {
  width: 100%;
  height: 100vh;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  padding: 2rem;
  justify-content: space-between;
  font-family: Poppins;
}
.login-right img {
  object-fit: cover;
  width: 42rem;
  border-radius: 20px;
}
.login-left {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 50%;
  padding: 2rem 0rem;
}
.login-left img {
  height: 50px;
}
.login-left h2 {
  font-size: 3vw;
  font-weight: 700;
  font-family: Poppins;
}
.login-left span {
  color: rgba(12, 98, 5, 1);
}
.login-bottom {
  width: 60%;
  padding-top: 100px;
}
#input {
  width: 90%;
  height: 45px;
  border: none;
  outline: none;
  background: rgba(217, 217, 217, 1);
  border-radius: 30px;
  padding: 0px 10px;
  color: black;
}
.login-bottom ::placeholder {
  color: black;
  font-weight: 500;
  font-size: 15px;
  padding: 0vw 1vw;
}
.login-btn {
  width: 96%;
  height: 45px;
  border: none;
  outline: none;
  background: rgba(12, 98, 5, 1);
  color: white;
  font-weight: 500;
  font-size: 18px;
  border-radius: 30px;
  padding: 0vw 1vw;
}
.login-bottom button {
  background: rgba(12, 98, 5, 1);
}
.login-btn:hover{
  background-color: rgb(38, 213, 38);
}

.register-link {
  padding: 1.5vw 0vw;
  font-weight: 500;
  font-size: 1.2vw;
}
.forgot{
  font-size: 1rem;
}
.register-link a {
  color: rgba(12, 98, 5, 1);
}
@media (max-width: 1240px) 
{
  #LogIn {
    align-items: center;
    height: 100%;
  }
  .login-right img {
    width: 40rem;
    height: 45rem;
  }
}
@media (max-width: 1170px)
 
 {
  .login-left {
    width: 70%;
  }
  .login-right img {
    width: 60rem;
  }
  #input {
    width: 90%;
    height: 45px;
  }
  .login-btn {
    width: 96%;
  }
  .register-link p {
    font-size: 1rem;
  }
}
@media (max-width: 1110px)
  {
  .login-right {
    display: none;
  }
  .login-left {
    width: 100%;
  }
  #input {
    width: 80%;
  }
  .login-btn {
    width: 82%;
  }
  .register-link p {
    font-size: 1.3rem;
  }
  .login-left h2 {
    font-size: 5vw;
    padding-top: 2rem;
  }
}
@media (max-width: 800px){
  #input {
    width: 90%;
  }
  .login-btn {
    width: 94%;
  }
  .login-left h2 {
    font-size: 6vw;
    padding-top: 2rem;
  }
  .register-link p {
    font-size: 1rem;
  }
}
@media (max-width: 650px){
  #LogIn {
    align-items:start;
    height: auto;
  }
  .login-left h2 {
    font-size: 2.6rem;
  }
  .register-link p {
    font-size: 1.2rem;
  }
  #input {
    width: 24rem;
  }
  .login-btn {
    width: 25rem;
  }
  .login-bottom {
    width: 100%;
    padding-top: 100px;
  }
}

@media (max-width: 405px) {
  .login-left h2 {
    font-size: 8vw;
  }
  #input {
    width: 80vw;
    height: 45px;
  }
  .register-link p {
    font-size: 4vw;
  }
  .login-btn {
    width: 84vw;
  }
}
