#user-Profile {
  width: 100%;
  font-family: "Red Hat Display", sans-serif;
  background-image: url("../assets/images/profilee.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  aspect-ratio: 2.08830022075;
  height: 100vh;
}
.profile-menu {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1rem;
}
.user-profile {
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem;
}

.profile-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
}
.profile-Nav-item{
  order: 1;
}
.profile-Nav-item ul {
  display: flex;
  gap: 1vw;
  font-size: 1.2vw;
  font-weight: 500;
}

.profile-logo img {
  width: 45px;
  height: 45px;
}

.profile-Nav-item ul li {
  border-radius: 30px;
  padding: 0.5vw 0vw;
  background: rgba(240, 240, 240, 0.5);
  box-shadow: 0px 5.95px 5.95px 0px rgba(0, 0, 0, 0.25);
  width: 120px;
  text-align: center;
}

.profile-bottom {
  width: 70%;
  position: absolute;
  top: 25%;
  left: 25%;
  padding: 0rem 2rem;
}

.profile-bottom h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.profile-info {
  display: flex;
  margin: 2vw 0vw;
  align-items: center;
  gap: 2rem;
}

.profile-info img {
  width: 6rem;
}

.profile-info h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.personal-info {
  display: flex;
  flex-wrap: wrap;
  padding: 2vw;
  gap: 0vw 5vw;
}

label {
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
}

#profile-input {
  border: none;
  color: #0c6205;
  font-weight: 700;
}

#profile-input input {
  background-color: white;
  color: #0c6205;
}

.acad-info {
  padding: 2vw;
}
@media (max-width: 1290px) {
  #user-Profile {
    overflow: hidden;
  }
.profile-menu {
    font-size: 1.1rem;
  }
  .profile-bottom {
    left: 25%;
  }
  .profile-bottom {
    width: 80%;
  }
}
@media (max-width: 1220px) {
  .profile-Nav-item ul li {
    width: 80px;
  }
  .profile-bottom {
    left: 35%;
  }
}
@media (max-width: 1120px) {
  .profile-Nav-item ul li {
    width: 95px;
    font-size: 1.1rem;
  }
  .profile-info {
    margin: 3vw 0vw;
  }
  #user-Profile {
    background-image: none;
  }
  .profile-bottom {
    left: 0%;
    padding: 0rem 4rem;
    width: 100%;
  }
  
}
@media (max-width: 769px) {
  .profile-Nav-item ul li {
    border: none;
    font-size: 1.2rem;
    padding: 10px 10px;
    background-color: white;
    opacity: 1;
    border-radius: 0px;
    box-shadow: none;
    width: 120px;
  }
  .profile-Nav-item ul {
    flex-direction: column;
    margin-top: 2rem;
  }

    .profile-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 15rem;
    height: 22rem;
    text-align: center;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    border: 1px solid #ccc;
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    transform: translateX(100%);
    visibility: hidden;
    opacity: 0;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 600;

    z-index: 10;
  }
  .profile-menu.open {
    transform: translateX(0);
    visibility: visible;
    opacity: 0.9;
  }
}
@media (max-width: 720px) {
  .profile-Nav-item ul li {
    padding: 10px 10px;
  }
  .profile-bottom {
    top: 15%;
  }
}
@media(max-width:500px){
 .profile-menu{
    width: 12rem;
  }
}
@media (max-width: 430px) {
  .profile-Nav-item ul li {
    padding: 8px 10px;
  }
 .profile-menu{
    height: 20rem;
  }
}
@media (max-width: 400px) {
  .profile-bottom h2 {
    font-size: 1.2rem;
    padding: 1rem 0rem;
  }
  .profile-bottom{
    padding: 0rem 1rem;
  }
}
@media (max-width: 315px) {
  .profile-Nav-item ul li {
    font-size: 0.9rem;
    padding: 6px 10px;
  }
  .profile-menu{
    height: 17rem;
    width: 10rem;
    padding-top: 2rem;
  }
}
@media (max-width: 280px) {
  .profile-bottom h2 , .profile-info h3 {
    font-size: 1.1rem;
  }
  label {
    font-size: 1rem;
  }
}
