#FAQ {
  width: 100%;
  font-family: Red Hat Display;
  background: #272727;
  overflow: hidden;
  padding: 2rem 0rem ;
}
.FAQs {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.FAQ-left h2 {
  font-weight: 700;
  font-size: 5vw;
  color: white;
}
.FAQ-left span {
  color: #0c6205;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0rem;
}
.accordion {
  width: 600px;
}
.item {
  margin-bottom: 15px;
  padding: 10px 20px;
}
.title {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
}
.content {
  color: white;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.content.show {
  font-size: 1rem;
  height: auto;
  max-height: 200px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
@media (max-width: 1200px) {
  .FAQ-left h2 {
    font-size: 5rem;
  }
  .accordion {
    width: 550px;
  }
}
@media (max-width: 1020px) {
  .FAQ-left h2 {
    font-size: 4rem;
  }
  .accordion {
    width: 500px;
  }
}
@media (max-width: 900px) {
  .accordion {
    width: 450px;
  }
}
@media (max-width: 820px) {
  .accordion {
    width: 400px;
  }
}

@media (max-width: 769px) {
  .FAQs {
    flex-direction: column;
  }
  .FAQ-left {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .faq {
    display: flex;
    gap: 2rem;
  }
  .accordion {
    width: 600px;
  }
  .wrapper {
    margin: 4rem 0rem;
  }
  .content.show {
    width: 100%;
    font-size: 1.2rem;
  }
  .title {
    font-size: 1.3rem;
  }
}
@media (max-width: 700px) {
  .accordion {
    width: 500px;
  }
}
@media (max-width: 580px) {
  .accordion {
    width: 450px;
  }
  .FAQ-left h2 {
    font-size: 3.5rem;
  }
}
@media (max-width: 500px) {
  .accordion {
    width: 400px;
  }
  .FAQ-left h2 {
    font-size: 3.5rem;
  }
  .faq {
    display: flex;
    gap: 1rem;
  }
  .title {
    font-size: 1.2rem;
  }
  .content.show {
    font-size: 1rem;
  }
}
@media (max-width: 460px) {
  .accordion {
    width: 350px;
  }
  .FAQ-left h2 {
    font-size: 3rem;
  }
  .title {
    font-size: 1rem;
  }
  .content.show {
    font-size: 0.9rem;
  }
  .wrapper {
    margin: 2rem 0rem;
  }
}
@media (max-width: 400px) {
  .accordion {
    width: 90vw;
  }
  .FAQ-left h2 {
    font-size: 10vw;
  }
}
@media (max-width: 340px) {
  .FAQ-left h2 {
    font-size: 10vw;
  }
}
