#Footer {
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: underline;
  height: 100%;
  align-items: center;
  padding: 0vw 5vw;
  font-size: 1.5vw;
  flex-wrap: wrap;
}
.footer-left {
  width: 50%;
  display: flex;
  gap: 4vw;
}
@media (max-width: 1000px) {
  .footer-content {
    font-size: 1.7vw;
  }
}
@media (max-width: 769px) {
  .footer-content {
    font-size: 2vw;
  }
}
@media (max-width: 715px) {
  #Footer {
    height: auto;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    font-size: 2.2vw;
    gap: 3vw;
    padding: 2vw 0vw;
  }
  .footer-left {
  width: 100%;
  display: flex;
 justify-content: space-evenly;
}
}
@media(max-width:660px){
    .footer-content{
        font-size: 2.5vw;
    }
}
@media(max-width:560px){
    .footer-content{
        font-size: 3vw;
        gap: 2vw;
    }
}
@media(max-width:440px){
    .footer-content{
        font-size: 3.5vw;
        
    }
}
@media(max-width:380px){
    .footer-content{
        font-size: 4vw;
        
    }
}
