#Header {
  width: 100%;
  font-family: Red Hat Display;
  overflow: hidden;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0vw 2vw;
  box-sizing: border-box;
  gap: 4vw;
}
.header-left {
  box-sizing: border-box;
  padding-top: 100px;
}
.header-right img {
  object-fit: cover;
}
.header-text h1 {
  font-weight: 800;
  font-size: 6vw;
}
.header-text span {
  font-size: 3.5vw;
  font-weight: bold;
}
.header-typewriter {
  font-size: 3.5vw;
  font-weight: 500;
  font-family: Red Hat Display;
  font-style: italic;
  margin: 1vw 0vw;
}
.p1 {
  font-size: 1.8vw;
}
.p2 {
  font-size: 1.4vw;
}
.header-btn button {
  border: 2px solid black;
  border-radius: 20px;
  font-weight: 500;
  font-size: 1.2vw;
  width: 10vw;
  padding: 0.5vw 0vw;
  margin: 2vw 0vw;
}
.header-btn button:hover {
  background-color: black;
  color: white;
}
.Speaker {
  display: flex;
  gap: 2vw;
  justify-content: flex-end;
  padding-top: 60px;
}
.Speaker img {
  width: 8vw;
  border: 1.5px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 1rem;
}

@media (max-width: 1050px) {
  .header-text h1 {
    font-size: 6.5vw;
  }
  .p1 {
    font-size: 2.5vw;
  }
  .p2 {
    font-size: 1.5vw;
  }
  .header-btn button {
    font-size: 1.5vw;
    width: 12vw;
  }
}
@media (max-width: 870px) {
  .header {
    gap: 2vw;
  }
  .p1 {
    font-size: 2.4vw;
  }
  .header-text span {
    font-size: 4vw;
  }
}
@media (max-width: 769px) {
  .header {
    flex-direction: column;
  }
  .header-right {
    order: 1;
  }
  .header-left {
    order: 2;
    padding: 40px 0px;
    gap: 4vw;
  }
  .header-right img {
    height: 60%;
  }
  .p1 {
    font-size: 4vw;
  }
  .p2 {
    font-size: 2.5vw;
  }
  .header-text h1 {
    font-size: 8vw;
  }
  .header-text span {
    font-size: 6vw;
    
  }
  .header-typewriter span {
    font-size: 6.5vw;
  
  }
  .header-typewriter {
    padding: 2vw 0vw;
    
  }
  .header-btn button {
    font-size: 2.5vw;
    width: 18vw;
    padding: 0.5vw 0vw;
  }
  .header-left {
    display: flex;
    flex-direction: column;
  }
  .header-text {
    order: 2;
    padding-top: 2vw;
  }
  .Speaker {
    order: 1;
    justify-content: space-around;
    padding-top: 0;
  }
  .Speaker img {
    width: 15vw;
  }
  .header-btn {
    order: 3;
  }
}
@media (max-width: 560px) {
  .header-btn button {
    font-size: 3vw;
    width: 18vw;
    padding: 0.5vw 0vw;
  }
  .p2 {
    font-size: 2.8vw;
  }
  .header-typewriter span {
    font-size: 7vw;
  }
  .Speaker img{
    padding: 0.1rem;
  }
}
