#Mentorship {
  width: 100%;
  padding: 8vw 0vw;
  font-family: Red Hat Display;
}
.Mentorship {
  padding: 0rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mentorship-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 55%;
  justify-content: center;
}
.mentorship-text h1 {
  font-size: 5.5vw;
  font-weight: 500;
}
.mentorship-text h2 {
  font-size: 5.3vw;
}
.mentorship-text p {
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
}
.mentorship-imgs {
  display: flex;
  margin-top: 3rem;
  gap: 2rem;
}

.mentorship-img2 {
  display: flex;
  overflow: hidden;
  align-items: center;
  position: relative;
}
.eyes {
  position: absolute;
  bottom: 75%;
  background-color: lightcoral;
}
.mentorship-price {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 25%;
  left: 15%;
}
.price {
  display: flex;
  gap: 1vw;
}
.discount img {
  width: 12rem;
}
.price h3,
h6 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
}
.price h6 {
  font-size: 1rem;
}
.price h4 {
  font-size: 1vw;
  color: #ac0000;
  text-decoration: line-through;
  text-decoration-color: white;
}
.mentorship-btn {
  display: flex;
  position: absolute;
  justify-content: center;
  gap: 2vw;
  bottom: 10%;
  left: 25%;
}
.mentorship-btn button {
  border-radius: 30px;
  padding: 0.5vw 0vw;
  font-weight: 500;
  font-size: 1rem;
  width: 110px;
}
.btn3 {
  background-color: white;
}
.btn4 {
  background-color: black;
  color: white;
}
@media (max-width: 1290px) {
  .mentorship-text h2 {
    font-size: 4.5vw;
  }
}
@media (max-width: 1225px) {
  .mentorship-text h1 {
    font-size: 5.5vw;
  }
  .mentorship-text h2 {
    font-size: 5.5vw;
  }
  .mentorship-text {
    width: 60%;
  }
}
@media (max-width: 1200px) {
  .mentorship-price {
    left: 12%;
  }
  .mentorship-btn {
    left: 20%;
  }
}
@media (max-width: 1170px) {
  .mentorship-price {
    left: 10%;
  }
}
@media (max-width: 1100px) {
  .mentorship-text p {
    font-size: 1rem;
  }
  .mentorship-price {
    left: 10%;
  }
  .discount img {
    width: 10rem;
  }
  .price h3,
  h6 {
    font-size: 1.2rem;
  }
  .mentorship-imgs {
    gap: 1rem;
  }
}
@media (max-width: 950px) {
  .mentorship-price {
    left: 8%;
  }
  .discount img {
    width: 10rem;
  }
  .price h3,
  h6 {
    font-size: 1.2rem;
  }
  .mentorship-btn {
    left: 15%;
  }
}
@media (max-width: 890px) {
  .mentorship-price {
    left: 5%;
  }
}
@media (max-width: 850px) {
  .mentorship-img {
    width: 100%;
    padding: 20px;
  }
  .mentorship-img2 {
    display: none;
  }
  .mentorship-text {
    width: 70%;
  }
  .mentorship-text h1,
  .mentorship-text h2 {
    font-size: 6.5vw;
  }
}
@media (max-width: 769px) {
  .mentorship-text {
    width: 80%;
  }
  .mentorship-text h1,
  .mentorship-text h2 {
    font-size: 7vw;
  }
}
@media (max-width: 650px) {
  .mentorship-text {
    width: 90%;
  }
  .mentorship-text h1,
  .mentorship-text h2 {
    font-size: 8vw;
  }
  .mentorship-img {
    padding: 0px;
  }
}
@media (max-width: 535px) {
  .mentorship-text {
    width: 90%;
  }
  .mentorship-text h1,
  .mentorship-text h2 {
    font-size: 7.8vw;
  }
  .mentorship-text p {
    font-size: 2.5vw;
  }
}
@media (max-width: 535px) {
  .mentorship-text {
    width: 100%;
  }
}
