#Mentorship {
  width: 100%;
  padding: 8vw 0vw;
  font-family: Red Hat Display;
  background-color: lightblue;
}
.Mentorship {
  padding: 0rem 2rem;
}
.mentorship-text {
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.mentorship-text h1 {
  font-size: 5rem;
  font-weight: 500;
}
.mentorship-text h2 {
  font-size: 4rem;
}
.mentorship-text p {
  font-size: 1rem;
  font-style: italic;
  margin: 0rem 25rem;
  font-weight: 400;
}
.mentorship-imgs {
  display: flex;
  margin-top: 3rem;
  gap: 2rem;
}

.mentorship-img2 {
  display: flex;
  overflow: hidden;
  align-items: center;
  position: relative;
}
.eyes {
  position: absolute;
  bottom: 75%;
  background-color: lightcoral;
}
.mentorship-price {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 25%;
  left: 15%;
}
.price {
  display: flex;
  gap: 1vw;
}
.discount img {
  width: 12rem;
}
.price h3,
h6 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
}
.price h6 {
  font-size: 1rem;
}
.price h4 {
  font-size: 1vw;
  color: #ac0000;
  text-decoration: line-through;
  text-decoration-color: white;
}
.mentorship-btn {
  display: flex;
  position: absolute;
  justify-content: center;
  gap: 2vw;
  bottom: 10%;
  left: 25%;
}
.mentorship-btn button {
  border-radius: 30px;
  padding: 0.5vw 0vw;
  font-weight: 500;
  font-size: 1rem;
  width: 110px;
}
.btn3 {
  background-color: white;
}
.btn4 {
  background-color: black;
  color: white;
}
@media (max-width: 1270px) {
  .mentorship-text p {
    margin: 0rem 20rem;
  }
}
@media (max-width: 1200px) {
  .mentorship-text p {
    margin: 0rem 15rem;
  }
  .mentorship-price {
    left: 12%;
  }
  .mentorship-btn {
    left: 20%;
  }
}
@media (max-width: 1170px) {
  .mentorship-text p {
    margin: 0rem 12rem;
  }
  .mentorship-price {
    left: 10%;
  }
}
@media (max-width: 1100px) {
  .mentorship-text h1 {
    font-size: 4rem;
  }
  .mentorship-text h2 {
    font-size: 3rem;
  }
  .mentorship-text p {
    font-size: 1rem;
  }
  .mentorship-price {
    left: 10%;
  }
  .discount img {
    width: 10rem;
  }
  .price h3,
  h6 {
    font-size: 1.2rem;
  }
  .mentorship-imgs {
    gap: 1rem;
  }
  
}
@media (max-width: 950px) {
  .mentorship-price {
    left: 8%;
  }
  .discount img {
    width: 10rem;
  }
  .price h3,
  h6 {
    font-size: 1.2rem;
  }
  .mentorship-btn {
    left: 15%;
  }
}
@media (max-width: 890px) {
  .mentorship-price {
    left: 5%;
  }
  .mentorship-text p {
    margin: 0rem 10rem;
  }
  
}
@media (max-width: 850px) {
  .mentorship-imgs{
    display: block;
  }
  .mentorship-price {
    left: 5%;
  }
  .mentorship-text p {
    margin: 0rem 10rem;
  }
  .mentorship-img3{
    order: 3;
  }
  .mentorship-img1{
    order: 2;
  }
  .mentorship-img2{
    order: 1;
  }
}
